* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* :root {
    --dark: #0d0d0d;
    --light: whitesmoke;
    --colorscheme: #d55fe0;
}  */

#header-img {
    background-image: url("../images/webdev.jpeg");
    width:100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;   
}

/* Portfolio name formatting */
h1 {
    text-align: right;
    color:aqua;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top:20px;
    padding-right: 35px;
}

/* navigation buttons formatting */
button {
    padding:10px;
    position: relative;
    background-color:#514f4f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navigation bar format and display type */
nav {
    background-color: #ABB2B9;
    display: block;
    padding-left: 20px;
}

/* Footer formatting */
footer {
    padding: 10px;
    color:#686868;
    font-size:medium;
    background-color: #A9CCE3;
}

/* about me section height */
#aboutme {
    height: 550px;
    
}

/* about me paragraphs formatting */
#aboutme p {
    display: block;
    padding-left: 25px;
    padding-right:380px;
    padding-top:25px;
    font-size: larger;
}

/* formatting of portrait border */
#portrait {
    border: 10px solid #686868;
    margin-right: 15px;
}

/* formatting of project images border */
.proj {
    border: 5px solid #3F8AA9;
}

/* background color and text alignment of title of section Project */
#header-proj {
    background-color: #A9CCE3;
    text-align: center;
}

.work-desc p{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px;
    
}

a {
    color:whitesmoke;
    font-size: large;
    padding-bottom: 20px;
}

h2 {
   color: #3F8AA9;
    padding-bottom:5px;
    padding-top: 10px;
    text-align: left;
    padding-left:70px;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#A9CCE3;
    color: #ffffff;
}

#projects {
    padding: 50px;
    padding-left: 50px;
    
}

#contact {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #e5e2b3;
}

/*  container of sections */
.container {
    display: inline-block;

}

/* alignment of icons in contact section */
#contact a {
    padding:50px;
    padding-bottom: 50px;
}

/* format and alignment of the text contact info */
.middle {
    text-align: center;
    padding-bottom:30px;
    color:#3F8AA9;
}
/* portrait image alignment */
.float-right {
    float:right;
    
}

/* formatting background when buttons are clicked */
button:active {
    background-color:#89b2cd;
}


/* Tablets - header changes color - up to 992px */ 
@media screen and (max-width: 992px) {

}

/* Large smartphones - navbar changes color - up to 768px */
@media screen and (max-width: 768px) {

}

/* Small smartphones - image placeholders change color - up to 576px*/
@media screen and (max-width: 576px ) {
    

}